#block-celebr8d8-add-video-cta {
  float: right;
  position: relative;

  .field--name-body {
    > a {
      padding-left: $spacing-unit-horizontal;
      padding-right: $spacing-unit-horizontal;
      display: block;
      height: 68px;
      background-color: palette(pink);
      color: palette(mono, x-light);
      text-decoration: none;
      font-family: 'Bangers';
      @include font-size(20px);
      text-align: center;
      line-height: 68px;

      @include breakpoint($xl, true) {
        @include icon(drupal8, false);
        background-color: palette(pink);
        background-position: $spacing-unit-horizontal 50%;
        padding-left: quadruple($spacing-unit-horizontal);
        padding-right: double($spacing-unit-horizontal);
      }

      &:hover,
      &:focus {
        background-color: palette(mono, dark);
      }
    }
  }
}
