/******************************
** Regions
******************************/
.l-inner__wrapper {
  @extend %constrained;
  @extend %clearfix;

  .front .l-featured-top &,
  .front .l-main & {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .l-content & {
    padding-left: 0;
    padding-right: 0;
  }
}

/******************************
** Front
******************************/
.front {
  h1 {
    @extend %element-hidden;
  }
}

/******************************
** Page
******************************/
.l-page {
  position: relative;

  @include breakpoint($l, true) {
    &:before {
      content: '';
      position: absolute;
      top: -272px;
      left: 0;
      right: 0;
      width: 100%;
      height: 272px;
      z-index: 5;
      box-shadow: 0 0 150px 0 #28264d;
    }
  }
}

/******************************
** Header
******************************/
.l-header {
  position: relative;
  z-index: 10;

  .l-inner__wrapper {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .menu--main {
    @include breakpoint($l, true) {
      float: right;
    }
  }
}

.region-header {
  position: relative;

  @include breakpoint(0 ($l - 1)) {
    overflow: hidden;
  }
}

.branding__site-logo {
  float: left;
  padding: 11px;
  max-width: 85px;

  @include breakpoint($l, true) {
    max-width: 18%;
  }

  &,
  img {
    display: block;
  }
}

.branding__site-name {
  @extend %element-invisible;
}

/******************************
** Navigation
******************************/
.region-navigation {
  @include breakpoint(0 ($l - 1)) {
    .js & {
      display: none;
    }
  }
}

/******************************
** Main
******************************/
.l-main {
  .not-front & {
    padding-top: $spacing-unit-vertical;
    padding-bottom: $spacing-unit-vertical;

    @include breakpoint($m) {
      padding-top: double($spacing-unit-vertical);
      padding-bottom: double($spacing-unit-vertical);
    }

    @include breakpoint($xl, true) {
      padding-top: triple($spacing-unit-vertical);
      padding-bottom: triple($spacing-unit-vertical);
    }
  }
}

/******************************
** Footer
******************************/
.l-footer {
  padding-top: $spacing-unit-vertical;
  padding-bottom: $spacing-unit-vertical;

  p {
    margin-top: 0;
  }
}

.region-footer-first,
.region-footer-second,
.region-footer-third {
  @include breakpoint($l, true) {
    padding-top: $spacing-unit-vertical;
    padding-bottom: $spacing-unit-vertical;
  }

  @include breakpoint($xl, true) {
    padding-top: double($spacing-unit-vertical);
    padding-bottom: double($spacing-unit-vertical);
  }

  margin-bottom: $spacing-unit-vertical;
}

.region-footer-first {
  @include breakpoint($l, true) {
    @include grid-span(4, 1);
  }
}

.region-footer-second {
  @include breakpoint($l, true) {
    @include grid-span(3, 6);
  }
}

.region-footer-third {
  @include breakpoint($l, true) {
    @include grid-span(4, 9);
  }
}

.region-footer-fourth {
  padding-top: $spacing-unit-vertical;
  border-top: 1px solid palette(purple);
  clear: both;
}
