.site-footer {
  background-color: palette(mono, mid-light);
  color: palette(purple, light);

  h2 {
    color: palette(purple);
  }
}

.region-footer-fourth {
  color: palette(purple);
  @include font-size(14px);
}
