.button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Bangers';
  @include font-size(20px);
  cursor: pointer;
  margin: 0;
  padding: 0 1.5em;
  line-height: 2.2;
  height: 2.2em;
  border-radius: 0;
  overflow: visible;
  box-shadow: none;
  background-color: palette(purple);
  border: 0;

  @include breakpoint($s, true) {
    @include font-size(26px);
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    color: palette(mono, x-light);
  }
  &:hover {
  }
  &:active,
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: palette(purple, light);
  }
}

/**
 * Button size modifiers.
 *
 * These all follow the same sizing rules as above; text is 1em, space around it
 * remains uniform.
 */
.button--small {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 2;
  height: 2em;
}
.button--large {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 4;
  height: 4em;
}
.button--huge {
  padding-right: 2em;
  padding-left: 2em;
  line-height: 5;
  height: 5em;
}

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings don’t conflict.
 */
.button--full {
  width: 100%;
  padding-right: 0;           /* [1] */
  padding-left: 0;            /* [1] */
  text-align: center;
}

/**
 * Make the button inherit sizing from its parent.
 */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/**
 * Button function modifiers.
 */
.button--primary {

}

.button--tertiary {

}

.button--video {
  position: relative;
  padding-right: 3em;
  line-height: 2.75;
  height: 3em;
  z-index: 2;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-property: color;
  transition-duration: 0.3s;
  background-color: transparent;
  border: 2px solid palette(mono, dark);
  border-bottom-width: 8px;
  @include font-size(20px);

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:before {
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: palette(mono, x-light);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:after {
    @include icon(single-play);
    right: 25px;
    top: 35%;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: palette(purple);

    &:before {
      transform: scaleX(1);
    }

    &:after {
      @include icon(single-play_active, false, false);
    }
  }
}

.button--contrast {
  border-color: palette(mono, x-light);
  color: palette(mono, x-light);
}

/**
 * Positive actions; e.g. sign in, purchase, submit, etc.
 */
.button--positive {
  background-color: palette(positive);
  color:#FFF;
}

/**
 * Negative actions; e.g. close account, delete photo, remove friend, etc.
 */
.button--negative{
  background-color: palette(negative);
  color:#FFF;
}

/**
 * Inactive, disabled buttons.
 *
 * 1. Make the button look like normal text when hovered.
 */
.button--inactive,
.button--inactive:hover,
.button--inactive:active,
.button--inactive:focus{
  background-color: #DDD;
  color: #777;
  cursor: default;        /* [1] */
  @include box-shadow(none);
}
