.button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $banger-font-family;
  @include font-size(20px);
  cursor: pointer;
  margin: 0;
  padding: 0 3.75em;
  line-height: 3.75;
  height: 3.75em;
  border-radius: 0;
  overflow: visible;
  box-shadow: none;
  background-color: palette(pink);
  color: palette(mono, x-light);
  text-decoration: none;
  text-align: center;
  border: 0;
  font-weight: normal;
  letter-spacing: 0.03em;

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    color: palette(mono, x-light);
  }
  &:hover {
  }
  &:active,
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: palette(purple);
  }
}

/**
 * Button function modifiers.
 */

.button--video {
  position: relative;
  padding-left: 1.5em;
  padding-right: 3em;
  line-height: 2.75;
  height: 3em;
  z-index: 2;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-property: color;
  transition-duration: 0.3s;
  background-color: transparent;
  border: 2px solid palette(mono, dark);
  border-bottom-width: 8px;
  @include font-size(20px);

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:before {
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: palette(mono, x-light);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:after {
    @include icon(single-play);
    right: 25px;
    top: 35%;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: palette(purple);

    &:before {
      transform: scaleX(1);
    }

    &:after {
      @include icon(single-play_active, false, false);
    }
  }
}

.button--contrast {
  border-color: palette(mono, x-light);
  color: palette(mono, x-light);
}

/**
 * Inactive, disabled buttons.
 *
 * 1. Make the button look like normal text when hovered.
 */
.button--inactive,
.button--inactive:hover,
.button--inactive:active,
.button--inactive:focus{
  background-color: #DDD;
  color: #777;
  cursor: default;        /* [1] */
  @include box-shadow(none);
}
