/******************************
** Regions
******************************/
.layout-container {
  @extend %constrained;
}

.path-frontpage .layout-main-wrapper {
  max-width: none;
  padding-left: 0;
  padding-right: 0;

  h1 {
    @extend %element-hidden;
  }
}

/******************************
** Header
******************************/
.header {
  position: relative;

  .layout-container {
    max-width: none;
    padding-left: 0;
    padding-right: 150px;

    @include breakpoint($xl, true) {
      padding-right: 240px;
    }
  }
}

.region-header {
  @extend %clearfix;
  float: left;
}

.region-primary-menu {
  float: right;
}

.site-logo {
  float: left;
  padding: 11px;

  &,
  img {
    display: block;
  }
}

.site-name {
  @extend %element-invisible;
}


/******************************
** Footer
******************************/
.site-footer {
  padding-top: $spacing-unit-vertical;
  padding-bottom: $spacing-unit-vertical;

  p {
    margin-top: 0;
  }
}

.region-footer-first,
.region-footer-second,
.region-footer-third {
  @include breakpoint($l, true) {
    padding-top: $spacing-unit-vertical;
    padding-bottom: $spacing-unit-vertical;
  }

  @include breakpoint($xl, true) {
    padding-top: double($spacing-unit-vertical);
    padding-bottom: double($spacing-unit-vertical);
  }

  margin-bottom: $spacing-unit-vertical;
}

.region-footer-first {
  @include breakpoint($l, true) {
    @include grid-span(4, 1);
  }
}

.region-footer-second {
  @include breakpoint($l, true) {
    @include grid-span(3, 6);
  }
}

.region-footer-third {
  @include breakpoint($l, true) {
    @include grid-span(4, 9);
  }
}

.region-footer-fourth {
  padding-top: $spacing-unit-vertical;
  border-top: 1px solid palette(purple);
  clear: both;
}
