.toggle--menu {
  float: right;
  background-color: palette(mono, x-light);

  @include breakpoint($l, true ) {
    display: none;
  }

  &.toggle--menu--open {
    background-color: palette(green);
  }
}
