.menu--main {
  @include breakpoint($l, true) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu {
    margin: 0;
    @extend %clearfix;
    @extend %list-nostyle;
    font-family: 'Rubik', Helvetica, sans-serif;
    background-color: palette(green);

    @include breakpoint($l, true) {
      background-color: transparent;
    }

    a {
      display: block;
      padding: 15px;
      text-decoration: none;
      @include font-size(20px);
      color: palette(purple);

      @include breakpoint($l, true) {
        margin-bottom: 2px;
        padding: 0;
        color: palette(mono, x-light);
        line-height: 1.75em;
        @include font-size(16px);
      }

      &:hover,
      &:focus {
        background-color: palette(purple);
        color: palette(mono, x-light);

        @include breakpoint($l, true) {
          margin-bottom: 0;
          background-color: transparent;
          border-bottom: 2px solid palette(mono, x-light);
        }
      }
    }

    .menu-item {
      padding-top: 0;
      border-bottom: 1px solid palette(purple);

      &:last-child {
        border-bottom: none;
      }

      @include breakpoint($l, true) {
        border-bottom: none;
        float: left;
        margin-right: double($spacing-unit-horizontal);
      }

      @include breakpoint($xl, true) {
        margin-right: triple($spacing-unit-horizontal);
      }
    }

    .menu-item--active-trail {
      a {
        border-bottom-color: palette(mono, x-light);
      }
    }
  }
}
