h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0.4em;
  margin-bottom: 0.6em;

  line-height: 1.2em;

  a {
    color: inherit;
  }
}

h1, .alpha {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(34px);
  font-weight: 700;
  letter-spacing: -0.06em;
  line-height: 1;
  color: palette(mono, x-light);

  @include breakpoint($m, true) {
    @include font-size(70px);
  }
}
h2, .beta {}
h3, .gamma {}
h4, .delta {}
h5, .epsilon {}
h6, .zeta {}
