h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0.4em;
  margin-bottom: 0.6em;
  letter-spacing: -0.06em;

  line-height: 1.2em;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1, .alpha {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(34px);
  font-weight: 700;
  line-height: 1;
  color: palette(mono, x-light);

  @include breakpoint($m, true) {
    @include font-size(70px);
  }
}
h2, .beta {
  @include font-size(26px);
}

h3, .gamma {
  @include font-size(22px);
}

h4, .delta {
  @include font-size(20px);
}

h5, .epsilon {
  @include font-size(18px);
}

h6, .zeta {
  @include font-size(16px);
}
